{% extends "base.html" %}
{%block title%}submission{%endblock%}
{%block head%}

{{form.media}}

<link rel="stylesheet" href="/static/css/uniform.default.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="/static/css/jquery-ui-1.8.6.custom.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="/static/css/notes.css" type="text/css" media="screen" charset="utf-8" />

<script src="/static/js/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/static/js/jquery-ui-1.8.6.custom.min.js" type="text/javascript"></script>
<script src="/static/js/autoresize.jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
      $(function(){
        $("input, textarea, select, button").uniform();
        $('#id_date').datepicker({
            changeMonth: true,
            changeYear: true
        });

      });

      var c = 2;
      var origheight;
      $(document).ready(function() {
        origheight = $('#qAndA_base textarea:first').height();

        $('#add_field').click(function() {
            var d = $('#qAndA_base').clone(true);
            d.attr('class', 'qAndA');

            var q = d.find('textarea:first');
            var a = q.next();

            q.attr('id', 'id_question'+c);
            q.height(origheight);
            a.attr('id', 'id_answer'+c);
            a.height(origheight);

            d.insertAfter($('.qAndA:last'));
        });

        $('textarea').autoResize({
            onResize : function() {
                $(this).css({opacity:0.8});
            },
            animateCallback : function() {
                $(this).css({opacity:1});
            },
            animateDuration : 300,
            extraSpace : 40
        });

      });
</script>

{%endblock%}
{%block content%}
{%if addednew%}
    <strong>Your submission was received and will be up shortly.  Thanks!</strong>
{%else%}
    {%if failed%}
        <strong>Something was wrong with your submission, try again.</strong>
    {%endif%}
{%endif%}

<form id="submitform" action="/notes/add/" method="POST">
<p>Company: {{form.company}}</p>
<p>Position: {{form.position}}</p>
<p>Date of interview: {{form.date}}</p>
<p>Description:<br>{{form.description}}</p>

<div class="indent">
<div id="qAndA_base" class="qAndA">
<p>Question:<br>{{form.question}}</p>
<p>Answer:<br>{{form.answer}}</p>
</div>
<div id="add_field"><strong>[+] Add another question</strong></div>
</div>
<br>
<input id="submit" type="submit" value="Done"/>
{%endblock content%}
