{% extends "base.html" %}
{%block title%}{{company.name}}{%endblock%}
{%block header%}{{company.name}}{%endblock%}
{%block content%}

<p>
<h2>Positions</h2>
<ul>
{%for position in company.positions.all%}
    <!-- TODO filter interview_set by company -->
    <li><a href="/notes/i/?company={{company.id}}&position={{position.id}}">{{position.title}}</a> - ({{position.interview_set.all.count}} interviews)
{%endfor%}
</ul>
</p>

<p>
<h2>Interviews</h2>
<ul>
{%for interview in company.interview_set.all%}
    <li>{{interview.description|truncatewords:10}}... - ({{interview.position.title}}) - {{interview.question_set.all.count}} questions - <a href="/notes/i/?company={{company.id}}">MORE</a></li>
{%endfor%}
</ul>
</p>

{%endblock content%}
