{% extends "base.html" %}
{%block title%}edit{%endblock%}

{%block header%}Edit interview{%endblock%}

{%block content%}
{%if errors%}
<strong>{{errors}}</strong>
{%endif%}
{%if success%}
<strong>Changes saved successfully</strong>
{%endif%}
<form id="editform" action="" method="POST">
{{form.as_p}}
<input id="submit" type="submit" value="Save"/>
<input id="delete" type="submit" value="Delete"/>
</form>

<hr/>

{%for q in interview.question_set.all%}
    <p>
    <a href="/notes/editquestion/{{q.id}}">[edit]</a> <strong>{{q.question}}</strong>: {{q.answer}}
    </p>
{%endfor%}
{%endblock content%}
