{% extends "base.html" %}
{%block title%}interviews{%endblock%}
{%block header%}Interviews{%endblock%}
{%block content%}

{%ifequal interiews.count 0%}
    No such interviews exist.
{%endifequal%}

{%regroup interviews by company as company_list%}

<!-- TODO include all interview information -->
<!-- Group by date, eg. month ago, week ago, days ago -->

{%for company in company_list%}
    <h2>{{company.grouper}}</h2>
        {%regroup company.list by position as position_list%}
        <div class="indent">
        {%for position in position_list%}
            <h3>{{position.grouper}} position</h3>
            {%for interview in position.list%}
                <div class="interview">
                Date: {{interview.date}}<br>
                <p>
                <strong>Description:</strong><br>{{interview.description}}
                </p>
                {%ifnotequal interview.question_set.all.count 0%}
                    {%for question in interview.question_set.all%}
                        <div class="qAndA">
                        <strong>Question</strong><br>{{question.question}}</p>
                        {%if question.answer%}
                        <p><strong>Answer</strong><br>{{question.answer}}
                        {%endif%}
                        </div>
                    {%endfor%}
                {%endifnotequal%}
                <!-- TODO add current profile check -->
                <a href="/notes/edit/{{interview.id}}">edit</a>
                </div>
            {%endfor%}
        {%endfor%}
        </div>
{%endfor%}

{%endblock content%}
