{%ifequal interiews.count 0%}
    No such interviews exist.
{%endifequal%}

{%regroup interviews by company as company_list%}

<!-- TODO include all interview information -->
<!-- Group by date, eg. month ago, week ago, days ago -->

{%for company in company_list%}
    <h2>{{company.grouper}}</h2>
        {%regroup company.list by position as position_list%}
        {%for position in position_list%}
            <h3>{{position.grouper}}</h3>
            <ul>
            {%for interview in position.list%}
                <li>
                <p>{{interview.date}}<br>{{interview.description}}</p>
                {%for question in interview.question_set.all%}
                    <p>Q: {{question.question}}</p>
                    <p>A: {{question.answer}}</p>
                {%endfor%}
                </li>
            {%endfor%}
            </ul>
        {%endfor%}
{%endfor%}
