a:link {
    color: #ff0022;
}

a:visited {
    color: #ff0022;
}

a:hover {
    color: #220022;
}

.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ff0022;
    background-color: #eee;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    font-size: 14px;
    padding: 10px;
    padding-left: 40px;
}

.mainoutline {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    width: 90%;
    padding: 10px;
    margin: 20px;
}

.indent{
    padding-left: 30px;
}

.qAndA{
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    padding: 10px;
    width: 61%;
}
